<h3> Edit vlan </h3>
<%= form_for :edit_vlan, url: vlan_path(@subject.ip,@edit_vlan[:vid]), method:"PATCH" do |f| %>
  <p>
    <%= f.label "Vlan id: #{@edit_vlan[:vid]}" %>
    <%= f.hidden_field :vid, value: @edit_vlan[:vid] %>
  </p>
  <p> 
  	<%= f.label "Active" %>
  	<%= f.check_box :active,{:checked => (true if  @edit_vlan[:activate] == "yes")}, true, nil%> 
  </p>
  <p>
    <%= f.label "name: " %>
    <%= f.text_field :name, value: @edit_vlan[:name] %>
  </p>
  <table class="">
  	<thead>
    	<tr >
      	<th>Port</th>
      	<th>Tagged</th>
      	<th>Untagged</th>
      	<th>Forbidden</th>
      	<th>Not Member</th>
        <th>PVID</th>
    	</tr>
  	</thead>
  	<tbody>
      <tr>
        <td class="col-md-1"><strong>All</strong></td>
        <td class="col-md-1"><%= radio_button_tag 'all_ports', "tag"%></td>
        <td class="col-md-1"><%= radio_button_tag 'all_ports', "untag"%></td>
        <td class="col-md-1"><%= radio_button_tag 'all_ports', "forbidden"%></td>
        <td class="col-md-1"><%= radio_button_tag 'all_ports', "not_member"%></td>
        <td class="col-md-1"><%= text_field_tag 'all_pvids'%></td>
      </tr> 
  		<% (1..@ports_count).each do |num_port| %>
  			<%= f.fields_for "#{num_port}".to_sym do |port|  %>
  				<tr >
  					<td class="col-md-1">
  						<%=num_port%>
  					</td>
  					<td class="col-md-1">
  						<%= port.radio_button(:port_param, "tag", :class=> "radio_button", :checked => @edit_vlan[:tag].include?(num_port))%>
  					</td>
  					<td class="col-md-1">
  						<%= port.radio_button(:port_param, "untag", :class=> "radio_button", :checked => @edit_vlan[:untag].include?(num_port)) %>
  					</td>
  					<td class="col-md-1">
  						<%= port.radio_button(:port_param, "forbidden", :class=> "radio_button", :checked => @edit_vlan[:forbidden].include?(num_port)) %>
  					</td>
  					<td class="col-md-1">
  						<%= port.radio_button(:port_param, "not_member", :class=> "radio_button", :checked => ( !@edit_vlan[:tag].include?(num_port) && !@edit_vlan[:untag].include?(num_port) && !@edit_vlan[:forbidden].include?(num_port) )) %>
  					</td>
            <td class="col-md-1">
              <%= port.text_field :pvid, value: @edit_vlan[:pvid][num_port-1], :class=> "input_fild" %>
            </td>
  				</tr>
  			<%end%>
  		<%end%>
  	</tbody>
  </table> 
  <%= f.submit 'Save', :class => 'btn btn-primary go_spiner' %>

<% end %>