<h3> Add new vlan </h3>
<%= form_for :new_vlan, url: vlans_path(@subject.ip) do |f| %>
  <p> 
  	<%= f.label "Active" %>
  	<%= f.check_box :active,{:checked => true}, true, nil%> 
  </p>
  <p>
   	<%= f.label "Vlan ID: " %>
    <%= f.text_field :vid, id: "vid"%>
  </p>
  <p>
    <%= f.label "Name: " %>
    <%= f.text_field :name %>
  </p>
  <table class="table-striped">
  	<thead>
    	<tr >
      	<th>Port</th>
      	<th>Tagged</th>
      	<th>Untagged</th>
      	<th>Forbidden</th>
      	<th>Not Member</th>
        <th>PVID</th>
    	</tr>
  	</thead>
  	<tbody>
      <tr>
        <td class="col-md-1"><strong>All</strong></td>
        <td class="col-md-1"><%= radio_button_tag 'all_ports', "tag"%></td>
        <td class="col-md-1"><%= radio_button_tag 'all_ports', "untag"%></td>
        <td class="col-md-1"><%= radio_button_tag 'all_ports', "forbidden"%></td>
        <td class="col-md-1"><%= radio_button_tag 'all_ports', "not_member", true%></td>
        <td class="col-md-1"><%= text_field_tag 'all_pvids'%></td>
      </tr> 
  		<% (1..@ports_count).each do |num_port| %>
  			<%= f.fields_for "#{num_port}".to_sym do |port|  %>
  				<tr >
  					<td class="col-md-1">
  						<%=num_port%>
  					</td>
  					<td class="col-md-1">
  						<%= port.radio_button(:port_param, "tag", :class=> "radio_button")%>
  					</td>
  					<td class="col-md-1">
  						<%= port.radio_button(:port_param, "untag", :class=> "radio_button") %>
  					</td>
  					<td class="col-md-1">
  						<%= port.radio_button(:port_param, "forbidden", :class=> "radio_button") %>
  					</td>
  					<td class="col-md-1">
  						<%= port.radio_button(:port_param, "not_member", :class=> "radio_button", :checked => true) %>
  					</td>
            <td class="col-md-1">
              <%= port.text_field :pvid, value: @pvid[num_port-1], class: "input_fild", id: "pvid_#{num_port}" %>
            </td>
  				</tr>
  			<%end%>
  		<%end%>
  	</tbody>
  </table> 
  <%= f.submit 'Save', :class => 'btn btn-primary go_spiner'%>
    <%= link_to 'Back', ip_path, :class =>"btn btn-primary" %>

<% end %>