<strong>name - </strong><strong id="switch_name"><%= @data[:name] %></strong>
<strong>, ip - </strong><strong id="switch_ip"><%= @data[:ip] %></strong>
<strong>, model - </strong><strong id="switch_model"><%=@data[:model]%></strong> 
<strong>, firmware - </strong><strong id="switch_firmware"><%=@data[:firmware]%></strong>
<strong>, mac - </strong><strong id="switch_mac"><%=@data[:mac]%></strong> 
<div>
<%= link_to 'Ports', ports_path(@subject.ip), class: "btn btn-primary " %>
<%= link_to 'Vlans', vlans_path(@subject.ip), class: "btn btn-primary " %>
<%= link_to 'MAC Table', mac_tables_path(@subject.ip), class: "btn btn-primary " %>
</div>