<strong>name - </strong><strong id="switch_name"><%= @data[:name] %></strong>
<strong>, ip - </strong><strong id="switch_ip"><%= @data[:ip] %></strong>
<strong>, model - </strong><strong id="switch_model"><%=@data[:model]%></strong> 
<strong>, firmware - </strong><strong id="switch_firmware"><%=@data[:firmware]%></strong>
<strong>, mac - </strong><strong id="switch_mac"><%=@data[:mac]%></strong> 
<%= form_for :ports, url: "/#{@subject.ip}/ports" do |f|  %>
	<%= f.hidden_field :name, value: @data[:name] %>
	<%= f.hidden_field :ip, value: @data[:ip] %>
	<%= f.hidden_field :model, value: @data[:model] %>
	<%= f.hidden_field :firmware, value: @data[:firmware] %>
	<%= f.hidden_field :mac, value: @data[:mac] %>
	<table class="table table-bordered table-striped">
  	<thead>
    	<tr >
      	<th>№</th>
      	<th>status</th>
      	<th>name</th>
      	<th>link status</th>
      	<th>type</th>
      	<th>speed_duplex</th>
    	</tr>
  	</thead>
  	<tbody>  	
	  	<%  @ports[:port_name].each_index do |i|%>
	   		<%= f.fields_for @ports[:port_name][i] do |port|  %>
	    		<tr >
	  				<td ><%= port.label (i+1)%></td>

						<td ><%= port.check_box @ports[:port_name][i], {:checked=>@ports[:port_admin_status][i]}, "up", "down" %></td>
						<td ><%= port.text_field :port_name, :value => @ports[:port_name][i] %></td>
						<td ><%= port.label @ports[:port_link_state][i] %></td>
						<td ><%= port.label @ports[:port_type][i] %>M</td>
							<td ><%= port.select :port_speed_duplex, options_for_select(@ports[:port_select_options_speed_duplex][i], @ports[:port_speed_duplex][i]) %></td>
				<%end%>
			<%end%>	
		</tbody>
	</table>
	<%= f.submit %>
<%end%>


