<strong>name - </strong><strong id="switch_name"><%= @data[:name] %></strong>
<strong>, ip - </strong><strong id="switch_ip"><%= @data[:ip] %></strong>
<strong>, model - </strong><strong id="switch_model"><%=@data[:model]%></strong> 
<strong>, firmware - </strong><strong id="switch_firmware"><%=@data[:firmware]%></strong>
<strong>, mac - </strong><strong id="switch_mac"><%=@data[:mac]%></strong> 
<%= form_for :ports, url: ports_path(@subject.ip) do |f|  %>
	<table class="table table-bordered table-striped">
  	<thead>
    	<tr >
      	<th>№</th>
      	<th>status</th>
      	<th>name</th>
      	<th>link status</th>
      	<th>type</th>
      	<th>speed_duplex</th>
    	</tr>
  	</thead>
  	<tbody>  	
	  	<%  (0..@ports[:ports_count]-1).each do |i|%>
	   		<%= f.fields_for "#{i+1}".to_sym do |port|  %>
	    		<tr >
	  				<td ><%= port.label (i+1)%></td>
	  				<td ><%= port.check_box :port_status, {:checked=>(@ports[:port_admin_status][i]=="up")}, "up", "down" %></td>
						<td ><%= port.text_field :port_name, :value => @ports[:port_name][i] %></td>
						<td ><%= port.label @ports[:port_link_state][i] %></td>
						<td ><%= port.label @ports[:port_type][i] %>M</td>
						<td ><%= port.select :port_speed_duplex, options_for_select(@ports[:port_select_options_speed_duplex][i], @ports[:port_speed_duplex][i]) %></td>
				<%end%>
			<%end%>	
		</tbody>
	</table>
	<%= f.submit 'Save', :class => 'btn btn-info go_spiner' %>
<%end%>


