<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @subject.ip %>
</p>

<p>
  <strong>Login:</strong>
  <%= @subject.login %>
</p>

<p>
  <strong>Pass:</strong>
  <%= @subject.pass %>
</p>

<p>
  <strong>Snmp:</strong>
  <%= @subject.snmp %>
</p>

<%= link_to 'Edit', edit_switch_path(@subject) %> |
<%= link_to 'Back', switches_path %>
