<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @switch.name %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @switch.ip %>
</p>

<p>
  <strong>Login:</strong>
  <%= @switch.login %>
</p>

<p>
  <strong>Pass:</strong>
  <%= @switch.pass %>
</p>

<p>
  <strong>Snmp:</strong>
  <%= @switch.snmp %>
</p>

<%= link_to 'Edit', edit_switch_path(@switch) %> |
<%= link_to 'Back', switches_path %>
