
<h2>User informations</h2>

<table class="table table-bordered table-striped">
  <thead>
    <tr >
      <th>Emale</th>
      <th>Role</th>
      <th>Change role</th>
    </tr>
  </thead>

  <tbody>
     <% @subjects.each do |user| %>
      <tr >
        <td class="col-md-2"><%= user.email %></td>
        <td class="col-md-2"><%if user.roles.blank? %>
            no role
            <%else%>
            <%= user.roles.first.name %>
            <% end %></td>
        <td>
          <%= form_for :role, url: user_path(user), method: "put" do |f| %>
            <%= f.select :user_role, options_for_select([["admin", "admin"], ["manager", "manager"]]), {}, { :class => ' form-control field stand_width'}%>
         </td>
        <td>
           <%= f.submit :class =>"btn-sm btn-primary " %>
          <% end %>
         </td>    
        <td><%= link_to '', user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-sm btn-danger glyphicon glyphicon-remove" %></td>
      </tr>
    <% end %>
  </tbody>
</table>