<p id="notice"><%= notice %></p>

<h1>Listing Mibs</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th>Firewal</th>
      <th>Model</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mibs.each do |mib| %>
      <tr>
        <td><%= mib.name %></td>
        <td><%= mib.value_oid.name %></td>
        <% mib.firmwares.each do |firmware| %>
          <td><%= firmware.name %></td>
        <% end %>
        <% mib.firmwares.each do |firmware| %>
          <td><%= firmware.switch_model.name %></td>
        <% end %>
        <td><%= link_to 'Show', mib, class: "btn-sm btn-info"  %></td>
        <td><%= link_to 'Edit', edit_mib_path(mib), class: "btn-sm btn-info"  %></td>
        <td><%= link_to 'Destroy', mib, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-sm btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mib', new_mib_path, class: "btn btn-info" %>
