<h1>New Mib</h1>
<%= form_for([:switch_model, :firmware, @mib]) do |f| %>
  <% if @mib.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mib.errors.count, "error") %> prohibited this mib from being saved:</h2>

      <ul>
      <% @mib.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div >
    <%= f.select :value_oid_id , options_for_select(@value_oids.collect { |c| [c.name, c.id] }), {}, { :class => 'select' } %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', switch_model_firmware_mibs_path(params[:switch_model_id], params[:firmware_id]) %>
