<p id="notice"><%= notice %></p>

<h1>Listing Value Oids</h1>

<table class="table ">
  <thead>
    <tr>
      <th >Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |value_oid| %>
      <tr>
        <td><%= value_oid.name %></td>
        <td>
        <%= link_to 'Edit', edit_value_oid_path(value_oid), class: "btn-sm btn-info glyphicon glyphicon-pencil" %>
       <%= link_to '', value_oid, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-sm btn-danger glyphicon glyphicon-remove" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Value oid', new_value_oid_path, class: "btn btn-info" %>
